# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.mc-tower-defense.iml
# Datasource local storage ignored files
/../../../../../../../../:\dev\godot\projects\mc-tower-defense\.idea\.idea.mc-tower-defense.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
